apiVersion: apps/v1beta1
kind: Deployment

metadata:
  name: rabbitmq-consumer
  # namespace: my-project
  labels:
    run: rabbitmq-consumer

spec:
  replicas: 1
  selector:
    matchLabels:
      run: rabbitmq-consumer
  
  template:
    metadata:
      labels:
        run: rabbitmq-consumer
        app: rabbitmq-consumer
    spec:
      containers:
      - name: rabbitmq-consumer
        image: nileshgule/receive
        imagePullPolicy: IfNotPresent
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst