@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Singapore<br />
    <abbr title="Phone">P:</abbr>
    +65 8383 2973
</address>

<address>
    <strong>Support:</strong> <a href="mailto:yuvaraja@example.com">yuvaraja@example.com</a><br />
</address>
