@{
    ViewData["Title"] = "Local Search Result";
}
<h4>@ViewData["Title"]</h4>
<div class="alert alert-info">
    <span class="badge">@Model.Key</span>
    <b>@Model.Value</b>
</div>
<hr class="divider">
